
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="PageMain">
    <h3 class="section_title">ABOUT US</h3>
    <div class="hr"></div>
    <div style="padding-right:10%">
        <p style="text-align: justify;" data-mce-style="text-align: justify;">
            <span style="font-weight: 400; font-size: 11pt;" data-mce-style="font-weight: 400; font-size: 11pt;">
                Founded in Los Angeles, 2015, DVRK is a fashion label established in the current culture that approaches fashion in wholly modern respect.
                With a specific opinion and not necessarily consistent with the men's and women's seasonal collection of vision provided.
            </span>
        </p>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">
            <span style="font-weight: 400; font-size: 11pt;" data-mce-style="font-weight: 400; font-size: 11pt;">
                All brand product offering ready-made goods to further consolidate an approach to lifestyle.
            </span>
        </p>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">
            <span style="font-weight: 400; font-size: 11pt;" data-mce-style="font-weight: 400; font-size: 11pt;">
                All products are based on an adaptive concept from season to season. Manufacturing is based in Vietnam,
                where leaders in apparel and accessories chose to produce. Owning in-house manufacturers furnished
                with up-to-date technologies allows us to consecutively pursue a core value of the brand to be made
                from the best available and particular opinion regarding fabric, fit and fabrication.
            </span>
        </p>
        <p style="text-align: justify;" data-mce-style="text-align: justify;">
            <span style="font-weight: 400; font-size: 11pt;" data-mce-style="font-weight: 400; font-size: 11pt;">
                The result is to be a young brand embracing the contemporary visual in a committed sophisticated demeanor.
            </span>
        </p>
        <p>
            <span style="font-weight: 400; font-size: 11pt;" data-mce-style="font-weight: 400; font-size: 11pt;">
            </span>
            <br>
        </p>
        <p>
            <span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">
                <img src="~/img/https___hypebeast.com_image_2016_09_starting-your-own-sneaker-consignment-shop-000000.jpg"
                     style="display: block; margin-left: auto; margin-right: auto;"
                     data-mce-style="display: block; margin-left: auto; margin-right: auto;">
            </span>
        </p>
        <p>
            <span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">
                <img src="~/img/d40583fa17cc5d86f90d1b0ec8b96ae6.jpg"
                     style="display: block; margin-left: auto; margin-right: auto;"
                     data-mce-style="display: block; margin-left: auto; margin-right: auto;">
            </span>
        </p>
        <p>
            <span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">
                <img src="~/img/MAT_Chris_Kyvetos_01-960x640-960x640.jpg"
                     style="display: block; margin-left: auto; margin-right: auto;"
                     data-mce-style="display: block; margin-left: auto; margin-right: auto;">
            </span>
        </p>
        <p>
            <span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">
                <img src="~/img/sneaker-boutiques-singapore-3.jpg">
            </span>
        </p>
        <p>
        <p>
            <span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">
                #COINCARDSNEAKER
            </span>
        </p>
    </div>

</section>
