
@{
    ViewBag.Title = "Lienhe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="PageMain">
    <div style="text-align:center">
        @*<div class="hr"></div>
        <p style="text-align: center;" data-mce-style="text-align: center;">
            <span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">
                <strong>
                    <br data-mce-bogus="1">
                </strong>
            </span>
        </p>
        <p style="text-align: center;" data-mce-style="text-align: center;">
            <span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">
                <strong><br data-mce-bogus="1"></strong>
            </span>
        </p>
        <p style="text-align: center;" data-mce-style="text-align: center;">
            <span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">
                <strong>
                    <br data-mce-bogus="1">
                </strong>
            </span>
        </p>
        <p style="text-align: center;" data-mce-style="text-align: center;">
            <span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">
                <strong>
                    <br data-mce-bogus="1">
                </strong>
            </span>
        </p>
        <p style="text-align: center;" data-mce-style="text-align: center;">
            <span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">
                <strong>
                    <br data-mce-bogus="1">
                </strong>
            </span>
        </p>*@
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
     
        <p style="text-align: center;" data-mce-style="text-align: center;">
            <span style="font-size: 12pt; padding-right:20%" >
                <strong>Địa chỉ cửa hàng:</strong>
                475 A Điện Biên Phủ, Phường 25, Bình Thạnh, Hồ Chí Minh, Việt Nam&nbsp;
            </span>
        </p>
        <p style="text-align: center;" data-mce-style="text-align: center;">
            <span style="font-size: 12pt; padding-right:20%" >
                <strong>
                    Hotline:
                </strong>
                0907 683 568
            </span>
            <br>
        </p>
        <p style="font-size: 12pt; padding-right:20%" >
            <span contenteditable="false" style="border: 0;" data-mce-object="iframe"
                  class="mce-preview-object mce-object-iframe" data-mce-p-allowfullscreen="allowfullscreen" data-mce-p-frameborder="0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1203351307176!2d106.71240001409215!3d10.802094592304144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a459cb43ab%3A0x6c3d29d370b52a7e!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBIdXRlY2g!5e0!3m2!1svi!2s!4v1553697149378" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe><span class="mce-shim">
                </span>
            </span>
        </p>
    </div>
</section>
