
@{
    ViewBag.Title = "Lienhe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="PageMain">
    <div style="text-align:center">
       
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
     
        <p style="text-align: center;" data-mce-style="text-align: center;">
            <span style="font-size: 12pt; padding-right:20%" >
                <strong>Địa chỉ cửa hàng:</strong>
                Vinhomes Tân Cảng, Bình Thạnh, Hồ Chí Minh 700000, Việt Nam&nbsp;
            </span>
        </p>
        <p style="text-align: center;" data-mce-style="text-align: center;">
            <span style="font-size: 12pt; padding-right:20%" >
                <strong>
                    Hotline:
                </strong>
                0907 683 568
            </span>
            <br>
        </p>
        <p style="font-size: 12pt; padding-right:20%" >
            <span contenteditable="false" style="border: 0;" data-mce-object="iframe"
                  class="mce-preview-object mce-object-iframe" data-mce-p-allowfullscreen="allowfullscreen" data-mce-p-frameborder="0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.215049186681!2d106.71984381409203!3d10.794834892309012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527c45a742e67%3A0x4b5d7cec7bdebb18!2sThe+Landmark+81!5e0!3m2!1svi!2s!4v1554364924432!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>                </span>
            </span>
        </p>
    </div>
</section>
