
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="home-banner hidden-xs hidden-sm">
    <a href="#">
        <img class="w-100" src="~/img/air-jordan-1-spider-man-1.jpg">
    </a>
</div>