@model IEnumerable<COINCARD.Models.DONDATHANG>

@{
    ViewBag.Title = "Quanlydonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="PageMain">

    <h2 style="text-align:center;padding-right:200px">QUẢN LÝ ĐƠN HÀNG</h2>


    <table class="table" style="font-size:13px">
        <tr>
         
            <th style="width:200px">  Đã thanh toán </th>
            <th style="width:100px">  Tình trạng giao hàng  </th>
            <th style="width:300px">  Ngày đặt    </th>
            <th style="width:200px">  Ngày giao  </th>
            <th style="width:150px">  Mã khách hàng </th>

            <th style="width:200px">  </th>

            
        </tr>

        @foreach (var item in Model)
        {
            <tr>
             
                @if (item.Dathanhtoan == true)
                {
                    <td>
                        Yes
                    </td>
                }
                else
                {
                    <td>
                        No
                    </td>
                }

                @if (item.Tinhtranggiaohang == true)
                {
                    <td>
                        Yes
                    </td>
                }
                else
                {
                    <td>
                        No
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.Ngaydat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ngaygiao)

                <td>
                    @Html.DisplayFor(modelItem => item.MaKH)
                </td>
                <td>
                   
                    @Html.ActionLink("Xóa", "XoaDH", new { id = item.MaDonHang })
                </td>
            </tr>
        }

    </table>
</section>