@model COINCARD.Models.THUONGHIEU

@{
    ViewBag.Title = "XoaTH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="PageMain">

    <h2></h2>

    <h3>BẠN MUỐN XÓA THƯƠNG HIỆU NÀY</h3>
    <div  style="text-align:center; padding-right:22%">
        <h4</h4>
        <br />
        <hr />
        <dl class="dl-horizontal" style="font-size:20px">
            <dt style="font-weight: bold">
                Tên Thương Hiệu
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenThuongHieu)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "QuanlyThuonghieu")
            </div>
        }
    </div>
    </section>